@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --dark-color: #222222;
  --primary-color: #7371f9;
}
* {
  margin: 0;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Raleway", sans-serif;
  padding: 0;
}
body {
  overflow-x: hidden;
  /* max-width: 2560px; */
}

p {
  font-size: 1.15rem !important;
  color: #b0aac0;
}
a {
  text-decoration: none !important;
}
.navbar-brand h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.navbar-brand span {
  color: var(--primary-color);
}
.navbar_main {
  background-image: url(./assets/hero-bg-dark.jpg);
  height: 100px;
  background-color: rgb(0, 0, 0, 0.4);
  background-blend-mode: color;
}
.nav_ul li {
  padding: 0 0.8rem;
}
.nav_ul a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.nav_ul a:hover {
  color: var(--primary-color);
  transition: 0.3s ease-in-out;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--primary-color) !important;
}
/* ************************************* */
.home {
  background-image: url(./assets/homemain.png);
  height: 750px;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 5rem 0;
  background-color: rgb(0, 0, 0, 0.4);
  background-blend-mode: color;
}
.home_col {
  padding-left: 2rem;
}

.home_col img {
  border-radius: 100%;
  width: 200px;
  box-shadow: 0px 0px 164px 7px rgba(178, 168, 231, 0.54);
  /* transform: skew(1); */
}
.home_col h1 {
  font-size: 2.6rem;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
}
.home_col h2 {
  padding: 0.8rem 0;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
.home_col h3 {
  padding-top: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
}
.home_col h4 {
  padding-top: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.6rem;
  text-align: center;
  color: var(--primary-color);
  display: block;
}
.text-transition {
  display: block !important;
}
/* ************************** */
.navbar-brand h2 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
  position: absolute;
  transform: translate(0, -50%);
}

.navbar-brand h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px var(--primary-color);
}

.navbar-brand h2:nth-child(2) {
  color: var(--primary-color);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
/* ************************** */

/* ************************** */
.home_col span {
  color: var(--primary-color);
}
.home_text {
  justify-content: center;
}
.home_btns {
  padding-top: 2rem;
}
.home_btns a {
  color: #fff !important;
}
.home_btn1 {
  padding: 0.75rem 2rem;
  border: none;
  background-color: var(--primary-color);
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  border-radius: 5px;
  margin: 0 0.5rem;
}
.home_btn2 {
  padding: 0.75rem 2rem;
  background-color: transparent;
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  margin: 0 0.5rem;
}
.home_btn2:hover,
.home_btn1:hover {
  background-color: var(--dark-color);
  transition: 0.4s linear;
  transform: scale(1.02);
  box-shadow: 0px 0px 20px 2px rgba(178, 168, 231, 0.54);
}
/* ************************************* */
.about {
  background: var(--dark-color);
  padding: 8rem 0;
  position: relative;
}
.about h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2.3rem;
}
.about p {
  font-weight: 500;
}
.about-col1 {
  background: #2d2d2d;
  border-radius: 8px;
  padding: 2.7rem 2rem;
  margin: 1rem;
  cursor: pointer;
}
.about-col1 p {
  font-size: 1.05rem !important;
  font-weight: 400;
}
.about-col1:hover {
  background: transparent;
  transform: rotate(0deg);
}
.about-col1 h2 {
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.3px;
  font-size: 1.7rem;
}
.about-col1 img {
  padding: 0.8rem 0;
}
/* ************************************* */
.about-col1 {
  position: relative;
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #2d2d2d;
    transition: all 0.4s ease-out;
    border-radius: 8px;
  }
  &::before {
    /* background-color: #; */
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    right: 0;
  }
  &:hover {
    &::before {
      background-color: var(--primary-color);
      top: -5px;
      left: -5px;
      transform: rotate(-8deg);
      padding: 1rem;
      /* box-shadow: 0 0 0 5px var(--primary-color); */
    }
    &::after {
      bottom: 5px;
      right: 5px;
    }
  }
}
/* ************************************* */
.section1 {
  background: #2a2a2a;
  padding: 8rem 0;
}
.sec1_col2 h4 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.4px;
}
.sec1_col2 h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2.8rem;
  letter-spacing: 0.4px;
}
.sec1_col2 span {
  color: var(--primary-color);
}
.sec1_col2 p {
  font-size: 1.15rem;
  font-weight: 500;
}
.sec1_col1 img {
  border-radius: 20px;
  box-shadow: 0px 0px 40px 3px rgba(178, 168, 231, 0.54);
}
.sec1_col2 h5 {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.4px;
  padding-top: 1.2rem;
}
/* ************************************* */
.CircularProgressbar .CircularProgressbar-path {
  stroke: var(--primary-color) !important;
}
.CircularProgressbar .CircularProgressbar-text {
  fill: #fff !important;
}
.skills {
  background-image: url(./assets/skill-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 8rem 0;
}
.skill_col1 h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2.8rem;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
.skill_col1 span {
  color: var(--primary-color);
}
.skill_col1 p {
  font-weight: 500;
  padding: 1rem 0;
}
.skill_col1 h5 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.4px;
}
.skill_col {
  padding: 0.7rem;
}
.skill_col2 h3 {
  font-size: 1.3rem;
  color: #b0aac0 !important;
}
.CircularProgressbar {
  width: 90% !important;
}
.skill_col2 {
  padding: 0 5rem;
  text-align: center;
}
.skill_col2 h3 {
  color: #fff;
  /* text-align: center !important; */
  padding: 0.9rem 0.5rem;
}
/* ************************************* */
.section4 {
  padding: 5rem 0;
  background: #2a2a2a;
}
.sec4_h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2.3rem;
}
.sec4_p {
  font-weight: 500;
}
.s4_1 img {
  width: 100%;
  animation: 1.2s ease-out 0s 1 loginimage;
}

@keyframes loginimage {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.s4_1 {
  position: relative;
  margin: 0 0.5rem;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-color);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.3s ease;
  cursor: pointer;
  opacity: 0.8;
}

.s4_1:hover .overlay {
  transform: scale(1);
  border: 2px solid var(--primary-color);
}

.text {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}

.text h4 {
  font-size: 1.45rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  padding: 0.8rem 0;
}

.text p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}
.btn2 {
  border: 0;
  padding: 0 2rem;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
.btn2:hover {
  transform: scale(1.2);
  transition: 0.5s linear;
}
#portfolio_col1 {
  display: none;
}
#portfolio_col2 {
  display: none;
}
#portfolio_col3 {
  display: none;
}
.btn3 {
  padding: 0.9rem 1.7rem;
  font-size: 1.15rem;
  font-weight: 600;
  background: var(--primary-color);
  color: #fff;
  letter-spacing: 0.4px;
  border-radius: 4px;
  display: block;
}
#btn3 {
  display: block;
}
.btn3:hover {
  background: var(--primary-color) !important;
  transform: scale(1.05);
  transition: 0.3s linear;
}
/* ************************************* */
.testimonial {
  background-image: url(./assets/testimonial-bg.jpg);
  background-size: cover;
  /* background-position: center; */
  padding: 7rem 0;
}
.test_1 {
  padding: 1.6rem 2rem;
  background: #2f2f2f;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.test_1 p {
  font-size: 1.1rem !important;
  font-weight: 400 !important;
}
.test_1:hover {
  transform: scale(1.04);
  transition: 0.5s linear;
}
.swiper-free-mode > .swiper-wrapper {
  margin: 4rem 0 !important;
}
.swiper-pagination-bullet {
  padding: 0.5rem;
  background: #fff !important;
}
.swiper-slide {
  width: 100%;
}
.test_slide1 {
  display: block;
}
.test_slide2 {
  display: none;
}
.testimonial p {
  font-weight: 500;
}
.testimonial h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2.3rem;
}
.test_img {
  border-radius: 50%;
}
/* ************************************* */
.section5 {
  padding: 7.5rem 0;
  background-color: #2a2a2a;
}
.sec5_col1 {
  padding: 0 3rem;
}
.sec5_col2 h4 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.4px;
}
.sec5_col2 h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2.8rem;
  letter-spacing: 0.4px;
}
.sec5_col2 span {
  color: var(--primary-color);
}
.sec5_col2 p {
  font-weight: 500;
  font-size: 1.25rem;
}
.sec5_col2 h5 {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.4px;
  padding-top: 1.2rem;
}
.sec5_col2 img {
  border-radius: 50%;
}
.sec5_col2 h3 {
  color: #fff;
  font-size: 1.3rem;
  /* font-weight: ; */
}
/* ************************************* */
.section6 {
  background: #222222;
  padding: 7rem 0;
}
.sec6_col {
  background: #2a2a2a;
  padding: 1.6rem;
}
/*  */
.section6 h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2.8rem;
  letter-spacing: 0.4px;
}
.section6 p {
  font-weight: 500;
}
.sec6_col h5 {
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  padding: 0.5rem 0;
}
.sec6_col span {
  font-size: 1.1rem;
  color: #b0aac0;
}
.card {
  border: 0 !important;
  cursor: pointer;
  background: transparent !important;
}
.card:hover {
  transform: scale(1.04);
  transition: 0.5s linear;
  border: 0 !important;
}
/* ************************************* */
.contact {
  padding: 8rem;
  background: #2a2a2a;
}
.contact h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2.3rem;
}
/* .contact p {
  font-weight: 500;   font-size: 1.25rem;
  color: #b0aac0;
} */
.contact i {
  font-size: 1.4rem;
  color: var(--primary-color);
  padding: 0.7rem 0.8rem;
  border-radius: 50%;
  margin: 0.5rem 0;
  border: 1px solid var(--primary-color);
}
.contact_sec2 {
  background-color: #222222;
  padding: 3rem 2rem;
  margin: 0 1rem;
}
.contact_sec2 input {
  padding: 1rem;
}
.contact_sec2 label {
  color: #fff;
  font-size: 1.15rem;
  letter-spacing: 0.3px;
}
::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(128, 128, 128) !important;
}
.contact_sec1 p {
  text-align: left !important;
  color: #fff;
  font-size: 1.05rem;
}
.contact_h4 {
  text-align: left !important;
  color: #fff;
  font-size: 1.7rem;
}
.contact p {
  font-size: 1.15rem;
  font-weight: 500;
  color: #b0aac0;
}
.contact_fm_1 {
  padding: 2.5rem 0rem;
  background-color: #222222;
  margin: 0.6rem;
  color: #fff;
  border-radius: 5px;
}
.contact_fm_1 iframe {
  width: 100%;
  height: 250px;
  padding-top: 1rem;
}
.contact_sec1 h4 {
  padding: 0.5rem 0;
}
.contact_sec1 h6 {
  font-weight: 400;
  padding-bottom: 0.9rem;
}
.contact_sec2 button {
  padding: 0.7rem;
  font-size: 1.1rem;
  border: 0;
  background: var(--primary-color);
  width: 100%;
  margin-top: 1.8rem;
  transition: all 0.3s ease 0s;
  color: #fff;
}
.contact_sec2 button:hover {
  background-color: var(--dark-color);
  border: 2px solid var(--primary-color);
  transition: 0.3s linear;
  transform: scale(1.05);
}
.contact_sec2 input:focus {
  border: 2px solid var(--primary-color) !important;
}
.contact_sec2 textarea:focus {
  border: 2px solid var(--primary-color) !important;
}
.form-control:focus {
  box-shadow: none !important;
}
/* **************************************** */

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  width: 100%;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #000;
  padding: 10px 20px;
  background: var(--primary-color);
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
}
.contant_box_404 {
  margin-top: -50px;
}
/* ************************************* */
.footer {
  width: 100%;
  background-color: var(--dark-color);
  color: #fff;
}
.footer_main {
  display: flex;
  padding: 7rem 4.5rem 3rem;
}
.footer h2 {
  /* padding-bottom: 0.5rem; */
}
.footer_1 {
  width: 40%;
}
.ft_icon {
  padding: 0.5rem 0;
}
.ft_icon i {
  font-size: 1.5rem;
  padding: 0rem 0.8rem;
  cursor: pointer;
}
.ft_icon i:hover {
  color: var(--primary-color);
  transition: 0.4s linear;
  transform: scale(1.3);
}
.footer_1 p {
  font-weight: 400;
  padding: 1rem 6rem 1rem 0;
}
.footer_2 {
  width: 25%;
}
.footer_2 ul {
  list-style: none;
  padding: 0;
}
.footer_2 ul a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.footer_2 ul a:hover {
  color: var(--primary-color);
  transition: 0.3s ease-in-out;
}
.footer_2 ul li {
  padding: 0.5rem 0;
}
.footer_3 {
  width: 35%;
}
.footer_3_input {
  display: flex;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
}
.footer_3_input input {
  width: 100%;
  border: none;
  padding: 0.8rem 1.5rem;
  outline: none;
}
.btn3 {
  padding: 0.8rem 2rem;
  border: none;
  background: var(--dark-color);
  border-radius: 5px;
  color: #fff;
}
/* ******************************************* */
.footer_end {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}
.footer_end p {
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}
/* ************************************* */
@media only screen and (min-width: 320px) and (max-width: 576px) {
  .navbar-brand h2 {
    width: 80%;
    font-size: 2.2rem;
  }
  .show {
    margin: 1rem 0;
    border: 2px solid var(--primary-color);
    transition: 0.3s linear;
  }
  .navbar-col {
    padding: 0 1rem !important;
    margin: 1.5rem;
  }
  .navbar-toggler {
    border: 0 !important;
    margin-left: 2rem;
  }
  .navbar-toggler i {
    color: #fff;
    font-size: 1.6rem;
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 0 0 transparent !important;
  }
  .navbar-collapse {
    background: var(--dark-color);
  }
  .nav_ul {
    margin-left: 0.5rem;
    padding: 1rem 0;
  }
  .nav_ul li {
    padding: 0.5rem 1rem;
  }
  .navbar-collapse {
    z-index: 1080;
  }

  /* ************************************* */
  .home {
    height: auto;
    padding: 3rem 1rem;
  }
  .home_col {
    /* padding-left: 0rem; */
    padding: 0.5rem;
  }
  .home_col img {
    width: 150px;
  }
  .home_col h1 {
    font-size: 2.3rem;
    font-weight: 600;
    padding: 0.7rem 0;
  }
  .home_col h3 {
    font-size: 1.2rem;
  }
  .home_col h2 {
    font-size: 1.1rem;
    padding-top: 0.3rem;
  }
  .home_btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
  }
  .home_btn1,
  .home_btn2 {
    margin: 1rem 0.5rem;
    padding: 0.6rem 0.5rem !important;
    font-size: 1.05rem;
  }
  .home_col h4 {
    font-size: 2.2rem;
  }
  /* ************************************* */
  .about-col1 {
    padding: 1.5rem;
  }
  .about h1,
  .contact h1,
  .testimonial h1,
  .section6 h1 {
    font-size: 1.8rem;
  }
  /* ************************************* */
  .skill_col2 {
    padding: 0;
  }
  /* ************************************* */
  .test_slide1 {
    display: none;
  }
  .test_slide2 {
    display: block;
    padding: 0 0.8rem;
  }
  .test_1 p {
    font-weight: 500 !important;
    font-size: 1.2rem !important;
  }
  /* ************************************* */
  .contact {
    padding: 7rem 1rem;
  }
  .contact_sec2 {
    padding: 3rem 1rem;
    margin: 0;
  }
  /* ************************************* */
  .footer_main {
    display: block;
    padding: 3rem 1.5rem;
  }
  .footer_1,
  .footer_2,
  .footer_3 {
    width: 100%;
  }
  .footer_1 p {
    font-size: 1rem;
    padding: 1rem 0;
  }
  .footer_2 {
    padding: 3rem 0;
  }
  /* ************************************* */
}
/* ************************************* */
